<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-header(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <link rel="stylesheet" th:href="@{/client/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/dialog2/css/dialog.css}">
    <link rel="stylesheet" th:href="@{/my/css/main.css}">
    <style>
        ion-icon {
            font-size: 30px;
        }
    </style>
</th:block>

<th:block th:fragment="bottom_buttom">
    <div class="appBottomMenu">
        <div id="btn-home" class="item">
            <a th:href="@{/client/home}">
                <p>
                    <ion-icon name="home-outline"></ion-icon>
                </p>
            </a>
        </div>
        <div id="btn-society" class="item">
            <a th:href="@{/client/society/all}">
                <p>
                    <ion-icon name="planet-outline"></ion-icon>
                </p>
            </a>
        </div>
        <div id="btn-zone" class="item">
            <a th:href="@{/client/zone}">
                <p>
                    <ion-icon name="person-outline"></ion-icon>
                </p>
            </a>
        </div>
    </div>
</th:block>

<th:block th:fragment="common-js">
    <!-- Jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdn.bootcss.com/popper.js/1.16.1/popper.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <script src="https://cdn.bootcss.com/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <!-- Main Js File -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://cdn.bootcss.com/iScroll/5.2.0/iscroll-zoom.js"></script>
    <script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.js"></script>
    <script th:src="@{/public/js/lrz.all.bundle.js}"></script>
    <script th:src="@{/public/js/PhotoClip.js}"></script>

    <script th:src="@{/vendor/dialog2/js/zepto.min.js}"></script>
    <script th:src="@{/vendor/dialog2/js/dialog.js}"></script>

    <script th:src="@{/client/js/app.js}"></script>
    <script th:src="@{/my/js/main.js}"></script>
</th:block>