<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/client/client_common::common-header('学生社团系统')"/>
    <!--引入自己的css-->
    <style>
        .image img{
            width: 80%;
        }
    </style>
</head>
<body>
<div class="appHeader">
    <div class="pageTitle">登录</div>
</div>
<div id="appCapsule" style="margin-top: 100px">
    <div class="appContent">
        <div class="sectionTitle text-center mt-3">
            <div class="title">
                <h1>学 生 社 团 系 统</h1>
            </div>
            <div class="lead mb-2">
                <div class="image">
                    <img th:src="@{/img/draw-4.png}">
                </div>
            </div>
        </div>

        <form action="index.html">
            <div class="form-group">
                <input type="text" class="form-control" id="user_no" placeholder="学号...">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="check_code" placeholder="验证码...">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="user_password" placeholder="新密码...">
            </div>
            <div class="form-group row mt-3 mb-3">
                <div class="col-12 text-left">
                    <span class="text-muted">初始密码为学号后六位或六个6</span>
                    <a th:href="@{/client/toLogin}" style="float: right">返回登录</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" id="send_mail_btn" onclick="sendMail()" class="btn btn-warning">发送邮件</button>
                <button type="button" onclick="modifyPassword()" class="btn btn-primary">修改</button>
            </div>
        </form>
    </div>
</div>


<!--引入通用js-->
<th:block th:replace="../templates/client/client_common::common-js"/>
<script>
    var time = 60;

    //倒计时
    function getRandomCode() {
        if (time === 0) {
            time = 60;
            $('#send_mail_btn').attr("disabled",false);
            $('#send_mail_btn').text("发送邮件");
            return;
        } else {
            time--;
            $('#send_mail_btn').text(time+"秒后可重新发送");
        }
        setTimeout(function () {
            getRandomCode();
        }, 1000);
    }

    function sendMail() {
        var userNo = $("#user_no").val();
        if (userNo === "") {
            mobileAlert("请输入学号");
            return;
        }
        $.ajax({
            url: "/sendMail",
            data: {
                userNo: userNo
            },
            success: function (data) {
                if (data === "") {
                    $('#send_mail_btn').attr("disabled",true);
                    getRandomCode();
                    mobileAlert("发送成功，请查看邮箱")
                } else {
                    mobileAlert(data);
                }
            }
        });
    }

    function modifyPassword() {
        var userNo = $("#user_no").val();
        if (userNo === "") {
            mobileAlert("请输入学号");
            return;
        }
        var userPassword = $("#user_password").val();
        if (userPassword === "") {
            mobileAlert("请输入密码");
            return;
        }
        var checkCode = $("#check_code").val();
        if (checkCode === "") {
            mobileAlert("请输入验证码");
            return;
        }
        $.ajax({
            type: "post",
            url: "/checkMailCode",
            data: {
                userNo: userNo,
                password: userPassword,
                checkCode: checkCode
            },
            success: function (data) {
                if (data === "") {
                    mobileAlertThenLinkTo("修改成功","/client/toLogin")
                } else {
                    mobileAlert(data);
                }
            }
        });
    }
</script>
</body>
</html>