<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/client/client_common::common-header('学生社团系统')"/>
    <!--引入自己的css-->
    <style>
        .banner-card{
            border-radius: 8px !important;
        }
        .text_wrap {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 150px;
            display: block;
        }
        .banner-img-wrap{
            width: 80%;
            padding-top: 80%;
            height: 0;
            position: relative;
        }
        .banner-img-wrap img{
            position: absolute;
            top:0;
            border-radius: 0!important;
            max-width: 180% !important;
            width: auto!important;
            height: auto;
            min-width: 100% !important;
        }
    </style>
</head>
<body>
<!--引入导航栏-->
<div class="appHeader">
    <div class="pageTitle">
        <img th:src="@{/img/logo.png}" alt="Bitter" class="image">
    </div>
    <div class="right">
        <label for="searchInput" class="mb-0 icon toggleSearchbox">
            <i class="icon ion-ios-search"></i>
        </label>
    </div>
</div>
<div class="searchBox">
    <form>
            <span class="inputIcon">
                <i class="icon ion-ios-search"></i>
            </span>
        <input type="text" class="form-control" id="searchInput" placeholder="搜索...">
        <a href="javascript:;" class="toggleSearchbox closeButton">
            <i class="icon ion-ios-close-circle"></i>
        </a>
    </form>
</div>
<div id="appCapsule">
    <div class="appContent">
        <!-- Card Overlay Carousel -->
        <div class="cardOverlayCarousel owl-carousel mt-2 mb-4">
            <!-- item -->
            <div class="item" th:each="activity:${topActivities}">
                <a th:href="@{'/client/activity/'+${activity.id}}" class="card banner-card card-overlay text-white">
                    <div class="banner-img-wrap">
                        <img th:if="${activity.imgs==null}" th:src="@{/img/society-default.jpg}"
                             class="card-img img-fluid" alt="image">
                        <th:block th:if="${activity.imgs!=null}" th:each="img,stat:${activity.imgs}">
                            <img th:if="${stat.first}" th:src="@{'/img/activity/'+${img.relName}}"
                                 class="card-img img-fluid" alt="image">
                        </th:block>
                    </div>
                    <div class="card-img-overlay">
                        <div class="header row">
                            <div class="col-8" th:if="${#strings.isEmpty(activity.societyName)}">全校活动</div>
                            <div class="col-8" th:if="${not #strings.isEmpty(activity.societyName)}"
                                 th:text="${activity.societyName}"></div>
                        </div>
                        <div class="content">
                            <h1 th:text="${activity.title}"></h1>
                            <footer>
                                <div class="author">
                                    <img th:src="@{/img/avatar-default.jpg}"
                                         th:if="${#strings.isEmpty(activity.createAvatar)}" alt="avatar">
                                    <img th:src="@{'/img/avatar/'+${activity.createAvatar}}"
                                         th:if="${not #strings.isEmpty(activity.createAvatar)}" alt="avatar">
                                    <span th:text="${activity.createName}"></span>
                                </div>
                                <div class="date" th:text="${#dates.format(activity.estTime,'yyyy-MM-dd')}"></div>
                            </footer>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- * Card Overlay Carousel -->

        <div class="divider mt-2 mb-4"></div>
        <!-- Button Carousel -->
        <div class="buttonCarousel owl-carousel">
            <th:block th:each="society:${societies}">
                <div class="item">
                    <a th:href="@{'/client/society/'+${society.id}}">
                        <div class="imgWrapper">
                            <img th:if="${society.imgs==null}" th:src="@{/img/society-default.jpg}"
                                 class="card-img img-fluid" alt="image">
                            <th:block th:if="${society.imgs!=null}" th:each="img,stat:${society.imgs}">
                                <img th:if="${stat.first}" th:src="@{'/img/society/'+${img.relName}}"
                                     class="card-img img-fluid" alt="image">
                            </th:block>
                        </div>
                        <strong th:text="${society.name}"></strong>
                    </a>
                </div>
            </th:block>
            <div class="item">
                <a th:href="@{/client/society/all}">
                    <div class="imgWrapper">
                        <img th:src="@{/img/more-o.png}" class="card-img img-fluid" alt="image">
                    </div>
                    <strong>查看更多</strong>
                </a>
            </div>
        </div>
        <!-- Button Carousel -->

        <div class="divider mt-2 mb-4"></div>

        <div class="sectionTitle mb-2">
            <div class="title">
                <h1>活 动</h1>
                <a href="blog-category.html">查看所有</a>
            </div>
        </div>

        <!-- post list -->
        <div class="row">
            <th:block th:each="activity:${normalActivities}">
                <div class="col-6">
                    <a th:href="@{'/client/activity/'+${activity.id}}" class="postItem">
                        <div class="imageWrapper">
                            <img th:if="${activity.imgs==null}" th:src="@{/img/society-default.jpg}" alt="image"
                                 class="image">
                            <th:block th:if="${activity.imgs!=null}" th:each="img,stat:${activity.imgs}">
                                <img th:if="${stat.first}" th:src="@{'/img/activity/'+${img.relName}}" alt="image"
                                     class="image">
                            </th:block>
                            <div class="badge badge-info" th:if="${activity.societyName!=null}"
                                 th:text="${activity.societyName}"></div>
                            <div class="badge badge-danger" th:if="${activity.societyName==null}">全校</div>
                        </div>
                        <h2 class="title text_wrap" th:text="${activity.title}"></h2>
                        <footer>
                            <img th:if="${activity.createAvatar==null}" th:src="@{/img/avatar-default.jpg}" alt="avatar"
                                 class="avatar">
                            <img th:if="${activity.createAvatar!=null}"
                                 th:src="@{'/img/avatar/'+${activity.createAvatar}}" alt="avatar" class="avatar">
                            <th:block th:text="${#dates.format(activity.estTime,' yyyy-MM-dd')}"/>
                        </footer>
                    </a>
                </div>
            </th:block>
        </div>
        <!-- * post list -->
        <!-- * item list -->
    </div>
</div>

<th:block th:replace="../templates/client/client_common::bottom_buttom"/>

<!--引入通用js-->
<th:block th:replace="../templates/client/client_common::common-js"/>
<script>
    $(function () {
        $("#btn-home").addClass("active");
    })
</script>
</body>
</html>