<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/client/client_common::common-header('所有社团')"/>
    <!--引入自己的css-->
    <style>
        .text-muted {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .image{
            position: relative;
        }
        .image .badge{
            position: absolute;
            top: 5px;
            left: 5px;
        }
    </style>
</head>
<body>
<!--引入导航栏-->
<div class="appHeader">
    <div class="left">
        <a href="#" class="icon goBack">
            <i class="icon ion-ios-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">社团列表</div>
</div>

<div id="appCapsule">
    <div class="appContent">
        <div class="divider mt-2 mb-4"></div>
        <div class="itemList" id="society_list">
            <th:block th:each="society:${societies}">
                <div class="item" th:onclick="'goToSocietyMore('+${society.id}+')'">
                    <div class="image">
                        <th:block th:switch="${society.status}" th:if="${isManage}">
                            <span th:case="0" class="badge badge-success">正常</span>
                            <span th:case="1" class="badge badge-dark">失效</span>
                            <span th:case="3" class="badge badge-warning">审核中</span>
                            <span th:case="4" class="badge badge-danger">已拒绝</span>
                        </th:block>
                        <th:block th:switch="${society.relationStatus}" th:if="${not isManage}">
                            <span th:case="0" class="badge badge-success">已加入</span>
                            <span th:case="1" class="badge badge-dark">关系失效</span>
                            <span th:case="3" class="badge badge-warning">申请中</span>
                            <span th:case="4" class="badge badge-danger">已拒绝</span>
                        </th:block>
                        <img th:if="${#lists.isEmpty(society.imgs)}" th:src="@{/img/society-default.jpg}" alt="image">
                        <th:block th:if="${not #lists.isEmpty(society.imgs)}" th:each="img,stat:${society.imgs}">
                            <img th:if="${stat.first}" th:src="@{'/img/society/'+${img.relName}}" alt="image">
                        </th:block>
                    </div>
                    <div class="text">
                        <h4 class="title" th:text="${society.name}">社团名</h4>
                        <div class="text-muted" th:text="${society.detail}">社团详情</div>
                    </div>
                </div>
                <div class="divider mt-2 mb-4"></div>
            </th:block>
        </div>
    </div>
</div>

<th:block th:replace="../templates/client/client_common::bottom_buttom"/>

<!--引入通用js-->
<th:block th:replace="../templates/client/client_common::common-js"/>
<script>
    function goToSocietyMore(id) {
        window.location.href = "/client/society/" + id;
    }
</script>
</body>
</html>