<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/client/client_common::common-header('学生社团系统')"/>
    <!--引入自己的css-->
</head>
<body>
<div class="appHeader">
    <div class="left">
        <a href="#" class="icon goBack">
            <i class="icon ion-ios-arrow-back"></i>
        </a>
    </div>
    <div class="pageTitle">修改密码</div>
</div>
<div id="appCapsule">
    <div class="appContent">
        <div class="card mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title">旧密码</h5>
                <div class="form-group">
                    <input type="password" id="old_password" class="form-control" placeholder="请输入旧密码..." >
                </div>
                <h5 class="card-title">新密码</h5>
                <div class="form-group">
                    <input type="password" id="new_password" class="form-control" placeholder="请输入新密码..." >
                </div>
                <h5 class="card-title">重新输入新密码</h5>
                <div class="form-group">
                    <input type="password" id="new_password_2" class="form-control" placeholder="请重新输入新密码..." >
                </div>
                <button type="button" id="save_btn" class="btn btn-primary" onclick="modifyPassword()">修改密码</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="../templates/client/client_common::bottom_buttom"/>

<!--引入通用js-->
<th:block th:replace="../templates/client/client_common::common-js"/>
<script>
    $(function () {
        $("#btn-zone").addClass("active");
    })
    function modifyPassword() {
        var oldPassword = $("#old_password").val();
        var newPassword = $("#new_password").val();
        var newPassword2 = $("#new_password_2").val();
        if(oldPassword===""||newPassword===""||newPassword2===""){
            mobileAlert("请输入");
            return;
        }
        if(newPassword!=newPassword2){
            mobileAlert("输入的两次密码不匹配");
            return;
        }
        $.ajax({
            url:"/user/changePassword",
            type:"post",
            data:{
                oldPassword:oldPassword,
                newPassword:newPassword
            },
            success:function (data) {
                if(data===""){
                    mobileAlertThenLinkTo("修改成功","/client/zone");
                }else {
                    mobileAlert(data);
                }
            }
        });
    }
</script>
</body>
</html>