<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/client/client_common::common-header('学生社团系统')"/>
    <!--引入自己的css-->
    <style>
        #logout-btn{
            position: absolute;
            bottom: 100px;
            left: 38%;
        }
    </style>
</head>
<body>
<div class="appHeader">
    <div class="pageTitle">
        <span>个人中心</span>
    </div>
</div>
<div id="appCapsule">
    <div class="appContent">
        <div class="listView detailed">
            <div class="listItem">
                <div class="image" th:onclick="'toUploadImgPage('+${session.USER.id}+')'">
                    <img th:src="@{'/img/avatar/'+${session.AVATAR}}" alt="avatar">
                </div>
                <div class="text" onclick="toUserDetail()">
                    <div>
                        <strong th:text="${session.USER.name}">Carmen Beltrán</strong>
                        <div class="text-muted">
                            <i th:if="${session.USER.gender}" class="fa fa-mars mr-1" aria-hidden="true" style="color: #428bca"></i>
                            <i th:if="${not session.USER.gender}" class="fa fa-venus mr-1" aria-hidden="true"
                               style="color: hotpink"></i>
                            <span th:text="${session.USER.grade}+' 级'"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a th:href="@{/client/zone/passwordPage}" class="listItem">
                <div class="text">
                    <div>
                        <strong>修改密码</strong>
                    </div>
                </div>
            </a>
            <a th:href="@{/client/zone/applySociety}" class="listItem">
                <div class="text">
                    <div>
                        <strong>申请社团</strong>
                    </div>
                </div>
            </a>
            <a th:href="@{/client/zone/mySociety/manage}" class="listItem">
                <div class="text">
                    <div>
                        <strong>我管理的社团</strong>
                    </div>
                </div>
            </a>
            <a th:href="@{/client/zone/mySociety/join}" class="listItem">
                <div class="text">
                    <div>
                        <strong>我加入的社团</strong>
                    </div>
                </div>
            </a>
        </div>
        <button class="btn btn-danger" id="logout-btn" onclick="mobileLogout()">退出登录</button>
    </div>
</div>

<th:block th:replace="../templates/client/client_common::bottom_buttom"/>

<!--引入通用js-->
<th:block th:replace="../templates/client/client_common::common-js"/>
<script>
    function toUploadImgPage(objId) {
        var map = new Map();
        map.set("objId", objId);
        map.set("objType", 2);
        postLinkTo("/img/toUploadPage", map);
    }

    function toUserDetail() {
        window.location.href="/client/zone/detail"
    }
</script>
</body>
</html>