<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/common::common-header('学生社团管理系统')"/>
    <!--引入自己的css-->
</head>
<body>
<!--引入导航栏-->
<th:block th:replace="../templates/common::navigation"/>
<div class="page">
    <th:block th:replace="../templates/common::common-pageHeader"/>
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">主页</a></li>
                <li class="breadcrumb-item active">活动管理</li>
            </ul>
        </div>
    </div>
    <br>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <form id="query_form" name="queryForm" class="form-inline" th:action="@{/activity/queryByPage}"
                          method="post">
                        <div class="form-group">
                            <label>活动名</label>
                            <input type="text" class="form-control" name="name" th:value="${condition.title}">
                        </div>
                        <div style="display: none">
                            <input type="text" id="start" name="start" th:value="${condition.start}">
                            <input type="text" id="row" name="row" th:value="${condition.row}">
                            <input type="text" id="totalPage" th:value="${totalPage}">
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    <br>
                    <input class="btn btn-primary" type="button" value="新增" data-toggle="modal" data-target="#addModal">
                    <input class="btn btn-primary" type="button" value="删除" onclick="deleteByIds()">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input onclick="checkAll(this)" type="checkbox"></th>
                                <th>活动名称</th>
                                <th>活动规模</th>
                                <th>举办社团</th>
                                <th>状态</th>
                                <th>申请人</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="activity:${activities}">
                            <tr>
                                <td><input name="id" type="checkbox" class="delete_check" th:value="${activity.id}">
                                </td>
                                <td th:text="${activity.title}"></td>
                                <th:block th:switch="${activity.scale}">
                                    <td th:case=0>全校级</td>
                                    <td th:case=1>社团级</td>
                                    <td th:case=*>未知</td>
                                </th:block>
                                <th:block th:switch="${activity.scale}">
                                    <td th:case=0>全校</td>
                                    <th:block th:case=1>
                                        <td th:if="${activity.societyName==null}">未知</td>
                                        <td th:if="${activity.societyName!=null}"
                                            th:text="${activity.societyName}"></td>
                                    </th:block>
                                    <td th:case=*>未知</td>
                                </th:block>
                                <th:block th:switch="${activity.status}">
                                    <td th:case=0>正常</td>
                                    <td th:case=1>失效</td>
                                    <td th:case=3>审核中</td>
                                    <td th:case=4>已驳回</td>
                                    <td th:case=*>未知</td>
                                </th:block>
                                <th:block th:switch="${activity.createName}">
                                    <td th:case="null">未知</td>
                                    <td th:case=* th:text="${activity.createName}"></td>
                                </th:block>
                                <th>
                                    <a class="linkToggle" data-toggle="modal" data-target="#detailModal"
                                       onclick="showDetail(this,'detail')">
                                        <input style="display: none" th:value="${activity.id}">详情
                                    </a>|
                                    <a class="linkToggle" data-toggle="modal" data-target="#updateModal"
                                       onclick="showDetail(this,'update')">
                                        <input style="display: none" th:value="${activity.id}">修改
                                    </a>
                                </th>
                                <th:block th:switch="${activity.status}">
                                    <td th:case=3>
                                        <button type="button" class="btn btn-success  btn-xs"
                                                onclick="changeStatus(this,'pass')" th:value="${activity.id}">通过审核
                                        </button>
                                        <button type="button" class="btn btn-warning  btn-xs"
                                                onclick="changeStatus(this,'reject')" th:value="${activity.id}">驳回
                                        </button>
                                    </td>
                                    <td th:case=0>
                                        <button type="button" class="btn btn-danger  btn-xs"
                                                onclick="changeStatus(this,'cancel')" th:value="${activity.id}">取消活动
                                        </button>
                                    </td>
                                    <td th:case=1>
                                        <button type="button" class="btn btn-warning  btn-xs"
                                                onclick="changeStatus(this,'restart')" th:value="${activity.id}">重启活动
                                        </button>
                                    </td>
                                    <td th:case=4>
                                        <button type="button" class="btn btn-info  btn-xs"
                                                onclick="changeStatus(this,'cancelReject')" th:value="${activity.id}">取消驳回
                                        </button>
                                    </td>
                                    <td th:case=*></td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                        <th:block th:if="${activities.size()>0}">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a onclick="prePage()" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <th:block th:if="${totalPage<=5}">
                                        <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
                                            <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                th:text="${i}"></a></li>
                                            <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                 th:text="${i}"></a></li>
                                        </th:block>
                                    </th:block>

                                    <th:block th:if="${totalPage>5 && totalPage<7}">
                                        <th:block th:if="${condition.start<4}">
                                            <th:block th:each="i:${#numbers.sequence(1,4)}">
                                                <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                    th:text="${i}"></a>
                                                </li>
                                                <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                     th:text="${i}"></a>
                                                </li>
                                            </th:block>
                                            <li><a>...</a></li>
                                            <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                        </th:block>
                                        <th:block th:if="${condition.start>=4}">
                                            <li><a onclick="page(this)">1</a>
                                            <li><a>...</a></li>
                                            <th:block th:each="i:${#numbers.sequence(totalPage-3,totalPage)}">
                                                <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                    th:text="${i}"></a>
                                                </li>
                                                <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                     th:text="${i}"></a>
                                                </li>
                                            </th:block>
                                        </th:block>
                                    </th:block>

                                    <th:block th:if="${totalPage>=7}">
                                        <th:block th:if="${condition.start<4}">
                                            <th:block th:each="i:${#numbers.sequence(1,4)}">
                                                <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                    th:text="${i}"></a>
                                                </li>
                                                <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                     th:text="${i}"></a>
                                                </li>
                                            </th:block>
                                            <li><a>...</a></li>
                                            <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                        </th:block>
                                        <th:block th:if="${condition.start>=4 && condition.start<=totalPage-3}">
                                            <li><a onclick="page(this)">1</a>
                                            <li><a>...</a></li>
                                            <th:block
                                                    th:each="i:${#numbers.sequence(condition.start-1,condition.start+1)}">
                                                <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                    th:text="${i}"></a>
                                                </li>
                                                <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                     th:text="${i}"></a>
                                                </li>
                                            </th:block>
                                            <li><a>...</a></li>
                                            <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                        </th:block>
                                        <th:block th:if="${condition.start>totalPage-3}">
                                            <li><a onclick="page(this)">1</a>
                                            <li><a>...</a></li>
                                            <th:block th:each="i:${#numbers.sequence(totalPage-3,totalPage)}">
                                                <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                                    th:text="${i}"></a>
                                                </li>
                                                <li th:if="${i!=condition.start}"><a onclick="page(this)"
                                                                                     th:text="${i}"></a>
                                                </li>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                    <li>
                                        <a onclick="nextPage()" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li><a><input onkeydown="return inputIntOnly()" id="goto"
                                                  style="width: 30px;height: 20px;"
                                                  type="number"></a></li>
                                    <li><a onclick="goToPage()">跳转</a></li>
                                </ul>
                            </nav>
                        </th:block>
                    </div>
                </div>
            </div>
            <form method="post" id="addForm">
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addModalLabel" style="text-align: center">新增学院</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="display: none">
                                    <label>ID</label>
                                    <input id="add_id" name="id" type="text" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="title" value="" type="text" class="form-control" id="add_title"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label>活动规模</label>
                                    <select name="scale" class="form-control" id="add_scale" onchange="scaleJudge(this,'add')">
                                        <option value=0>全校级</option>
                                        <option value=1>社团级</option>
                                    </select>
                                </div>
                                <div class="form-group" id="add_society_select" style="display: none">
                                    <label>举办社团</label>
                                    <select name="societyId" class="form-control" id="add_societyId">
                                        <th:block th:each="society:${societies}">
                                            <option th:text="${society.name}" th:value="${society.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>活动内容</label>
                                    <textarea class="form-control" name="content" required id="add_content"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>活动图片</label>
                                    <input id="img_file" type="file" accept="image/*" name="file" class="form-control"
                                           multiple onchange="readImg(event)" style="display: none">
                                    <button class="btn btn-primary" type="button" onclick="addImg()">添加图片</button>
                                    <button class="btn btn-default" type="button" onclick="cleanImg()">清空</button>
                                    <div id="add_img_pre_div">
                                    </div>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" onclick="addNewActivity()" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" id="updateForm">
                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="updateModalLabel" style="text-align: center">学院信息变更</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="display: none">
                                    <label>ID</label>
                                    <input id="update_id" name="id" type="text" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="title" value="" type="text" class="form-control" id="update_title"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label>活动规模</label>
                                    <select name="scale" class="form-control" id="update_scale" onchange="scaleJudge(this,'update')">
                                        <option value=0>全校级</option>
                                        <option value=1>社团级</option>
                                    </select>
                                </div>
                                <div class="form-group" id="update_society_select" style="display: none">
                                    <label>举办社团</label>
                                    <select name="societyId" class="form-control" id="update_societyId">
                                        <th:block th:each="society:${societies}">
                                            <option th:text="${society.name}" th:value="${society.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>活动内容</label>
                                    <textarea class="form-control" name="content" required
                                              id="update_content"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>活动图片</label>
                                    <input id="update_img_file" type="file" accept="image/*" name="file"
                                           class="form-control"
                                           multiple onchange="readImgUpdate(event)" style="display: none">
                                    <button class="btn btn-primary" type="button" onclick="addImgUpdate()">添加图片</button>
                                    <button class="btn btn-default" type="button" onclick="cleanImgUpdate()">清空</button>
                                    <div id="update_img_pre_div">
                                    </div>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="updateActivity()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" id="detailForm">
                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="detailModalLabel" style="text-align: center">活动详情</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="display: none">
                                    <label>ID</label>
                                    <input id="detail_id" name="id" type="text" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>活动名称</label>
                                    <input name="title" value="" type="text" class="form-control" id="detail_title"
                                           readonly>
                                </div>
                                <div class="form-group">
                                    <label>活动规模</label>
                                    <select name="scale" class="form-control" id="detail_scale" onchange="scaleJudge(this,'detail')" disabled>
                                        <option value=0>全校级</option>
                                        <option value=1>社团级</option>
                                    </select>
                                </div>
                                <div class="form-group" id="detail_society_select" style="display: none">
                                    <label>举办社团</label>
                                    <select name="societyId" class="form-control" id="detail_societyId" disabled>
                                        <th:block th:each="society:${societies}">
                                            <option th:text="${society.name}" th:value="${society.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>活动内容</label>
                                    <textarea class="form-control" name="content" readonly id="detail_content">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label>活动状态</label>
                                    <select name="status" class="form-control" id="detail_status" disabled>
                                        <option value=0>正常</option>
                                        <option value=1>失效</option>
                                        <option value=3>审核中</option>
                                        <option value=4>已驳回</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>活动图片</label>
                                    <div id="detail_img_pre_div">
                                    </div>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<!--引入通用js-->
<th:block th:replace="../templates/common::common-js"/>
<script th:src="@{/my/js/activityManagement.js}"></script>
</body>
</html>