<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--引入通用头部和css-->
    <th:block th:replace="../templates/common::common-header('学生社团管理系统')"/>
    <!--引入自己的css-->
</head>
<body>
<!--引入导航栏-->
<th:block th:replace="../templates/common::navigation"/>
<div class="page">
    <th:block th:replace="../templates/common::common-pageHeader"/>
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">主页</a></li>
                <li class="breadcrumb-item"><a th:href="@{/society/queryByPage}">社团管理</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/society/queryUserBySocietyId/'+${society.id}}" th:text="${society.name+'列表'}"></a></li>
                <li class="breadcrumb-item active" th:text="${society.name+'图表'}"></li>
            </ul>
        </div>
    </div>
    <br>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <input id="society_id" style="display: none" th:value="${society.id}">
                    <button class="btn btn-primary" type="button" onclick="loadChart('society/countByCollege','学 院 分 布 统 计')">学院统计
                    </button>
                    <button class="btn btn-primary" type="button" onclick="loadChart('society/countByMajor','专 业 分 布 统 计')">专业统计
                    </button>
                    <button class="btn btn-primary" type="button" onclick="loadChart('society/countByGrade','年 级 分 布 统 计')">年级统计</button>
                    <button class="btn btn-primary" type="button" onclick="loadChart('society/countByGender','性 别 分 布 统 计')">性别统计</button>
                    <br><br>
                </div>
            </div>
        </div>
    </section>
    <section class="dashboard-header section-padding">
        <div class="container-fluid">
            <div class="row d-flex align-items-md-stretch">
                <div class="col-lg-3 col-md-6">
                    <div class="card project-progress">

                        <p style="font-size: 12px">环形图</p>
                        <div class="pie-chart">
                            <canvas id="society_chart" width="100%" height="100%"> </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card project-progress">
                        <p style="font-size: 12px">极区图</p>
                        <div class="pie-chart">
                            <canvas id="polarArea" width="100%" height="100%"> </canvas>
                        </div>
                    </div>
                </div>
                <!-- Line Chart -->
                <div class="col-lg-6 col-md-12 flex-lg-last flex-md-first align-self-baseline">
                    <div class="card sales-report">
                        <p  style="font-size: 12px">柱状折线图</p>
                        <div class="line-chart">
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--引入通用js-->
<th:block th:replace="../templates/common::common-js"/>
<script th:src="@{/my/js/societyCharts.js}"></script>
</body>
</html>