<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生社团管理系统</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link th:href="@{/bootstrap/dashboard.css}" rel="stylesheet">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

        .linkToggle {
            cursor: pointer;
            color: #428bca;
            font-weight: normal;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/user/queryByPage}">学生社团管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/user/zone}" th:text="${session.USER.name}">管理员</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a th:href="@{/user/queryByPage}">学生管理</a></li>
                <li><a th:href="@{/society/queryByPage}">社团管理</a></li>
            </ul>
<!--            <ul class="nav nav-sidebar">-->
<!--                <li><a href="">统计分析</a></li>-->
<!--            </ul>-->
<!--            <ul class="nav nav-sidebar">-->
<!--                <li><a href="">日志系统</a></li>-->
<!--            </ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">学生管理</h2>
            <form id="query_form" name="queryForm" class="form-inline" th:action="@{/user/queryByPage}" method="post">
                <div class="form-group">
                    <label>学号</label>
                    <input type="text" class="form-control" name="no" th:value="${condition.no}">
                </div>
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="name" th:value="${condition.name}">
                </div>
                <div class="form-group">
                    <label>年级</label>
                    <input type="text" class="form-control" name="grade" th:value="${condition.grade}">
                </div>
                <div style="display: none">
                    <input type="text" id="start" name="start" th:value="${condition.start}">
                    <input type="text" id="row" name="row" th:value="${condition.row}">
                    <input type="text" id="totalPage" th:value="${totalPage}">
                </div>
                <button type="submit" class="btn btn-primary">查询</button>
            </form>
            <br>
            <input class="btn btn-primary" type="button" value="新增" data-toggle="modal" data-target="#addModal" onclick="loadColleges()">
            <input class="btn btn-primary" type="button" value="删除" onclick="deleteByIds()">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>专业</th>
                        <th>年级</th>
                        <th>状态</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody th:each="user:${users}">
                    <tr>
                        <td><input name="id" type="checkbox" th:value="${user.id}"></td>
                        <td th:text="${user.no}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.major}"></td>
                        <td th:text="${user.grade}"></td>
                        <th:block th:switch="${user.status}">
                            <td th:case=0>正常</td>
                            <td th:case=1>失效</td>
                            <td th:case=*>未知</td>
                        </th:block>
                        <th>
                            <a class="linkToggle" data-toggle="modal" data-target="#detailModal"
                               onclick="showDetail(this,$('#detail_college_select'),$('#detail_major_select'),'detail')">
                                <input style="display: none" th:value="${user.id}">详情
                            </a>
                            |
                            <a class="linkToggle" data-toggle="modal" data-target="#updateModal"
                               onclick="showDetail(this,$('#update_college_select'),$('#update_major_select'),'update')">
                                <input style="display: none" th:value="${user.id}">修改
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <th:block th:if="${users.size()>0}">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a onclick="prePage()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:if="${totalPage<=5}">
                                <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
                                    <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                        th:text="${i}"></a></li>
                                    <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a></li>
                                </th:block>
                            </th:block>

                            <th:block th:if="${totalPage>5 && totalPage<7}">
                                <th:block th:if="${condition.start<4}">
                                    <th:block th:each="i:${#numbers.sequence(1,4)}">
                                        <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                            th:text="${i}"></a></li>
                                        <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                    <li><a>...</a></li>
                                    <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                </th:block>
                                <th:block th:if="${condition.start>=4}">
                                    <li><a onclick="page(this)">1</a>
                                    <li><a>...</a></li>
                                    <th:block th:each="i:${#numbers.sequence(totalPage-3,totalPage)}">
                                        <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                            th:text="${i}"></a></li>
                                        <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                </th:block>
                            </th:block>

                            <th:block th:if="${totalPage>=7}">
                                <th:block th:if="${condition.start<4}">
                                    <th:block th:each="i:${#numbers.sequence(1,4)}">
                                        <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                            th:text="${i}"></a></li>
                                        <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                    <li><a>...</a></li>
                                    <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                </th:block>
                                <th:block th:if="${condition.start>=4 && condition.start<=totalBPage-3}">
                                    <li><a onclick="page(this)">1</a>
                                    <li><a>...</a></li>
                                    <th:block th:each="i:${#numbers.sequence(condition.start-1,condition.start+1)}">
                                        <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                            th:text="${i}"></a></li>
                                        <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                    <li><a>...</a></li>
                                    <li><a onclick="page(this)" th:text="${totalPage}"></a>
                                </th:block>
                                <th:block th:if="${condition.start>totalPage-3}">
                                    <li><a onclick="page(this)">1</a>
                                    <li><a>...</a></li>
                                    <th:block th:each="i:${#numbers.sequence(totalPage-3,totalPage)}">
                                        <li th:if="${i==condition.start}" class="active"><a onclick="page(this)"
                                                                                            th:text="${i}"></a></li>
                                        <li th:if="${i!=condition.start}"><a onclick="page(this)" th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <li>
                                <a onclick="nextPage()" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><a><input onkeydown="return inputIntOnly()" id="goto" style="width: 30px;height: 20px;"
                                          type="number"></a></li>
                            <li><a onclick="goToPage()">跳转</a></li>
                        </ul>
                    </nav>
                </th:block>
            </div>
        </div>
    </div>
    <form method="post" th:action="@{/user/add}">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="addModalLabel" style="text-align: center">新增用户</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display: none">
                            <label>ID</label>
                            <input name="id" type="text" readonly class="form-control">
                        </div>
                        <div class="form-group">
                            <label>学号</label>
                            <input name="no" value="" type="text"
                                   class="form-control"
                                   placeholder="请输入学号" required>
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input name="name" value="" type="text" class="form-control"
                                   placeholder="请输入姓名" required>
                        </div>
                        <div class="form-group">
                            <label>年级</label>
                            <input name="grade" value="" type="text" class="form-control"
                                   placeholder="请输入年级" required>
                        </div>
                        <div class="form-group">
                            <label>邮箱</label>
                            <input name="email" type="email" class="form-control"
                                   placeholder="请输入邮箱">
                        </div>
                        <div class="form-group">
                            <label>手机</label>
                            <input name="phone" type="tel" class="form-control" placeholder="请输入手机号码">
                        </div>
                        <div class="form-group">
                            <label>生源地</label>
                            <input name="origin" type="text" class="form-control"
                                   placeholder="请输入生源地">
                        </div>
                        <div class="form-group">
                            <label>权限</label>
                            <select class="form-control" name="authority" required>
                                <option value="1">普通用户</option>
                                <option value="0">超级管理员</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label>学院</label>
                            <select id="add_college_select" class="form-control" name="college" onchange="loadMajors($(this),$('#add_major_select'))" required>
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                            <label>专业</label>
                            <select id="add_major_select" class="form-control" name="major" required>
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>激活用户</label>
                            <input type="checkbox" value=0 name="status" checked>
                        </div>
                        <div class="form-group">
                            <label>性别</label>
                            <input type="radio" name="gender" value=true checked>男
                            <input type="radio" name="gender" value=false>女
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" th:action="@{/user/update}" id="updateForm">
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="updateModalLabel" style="text-align: center">修改用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display: none">
                            <label>ID</label>
                            <input id="update_id" name="id" type="text" readonly class="form-control">
                        </div>
                        <div class="form-group">
                            <label>学号</label>
                            <input name="no" value="" type="text"
                                   class="form-control"
                                   placeholder="请输入学号" id="update_no" required>
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input name="name" value="" type="text" class="form-control"
                                   placeholder="请输入姓名" id="update_name" required>
                        </div>
                        <div class="form-group">
                            <label>年级</label>
                            <input name="grade" value="" type="text" class="form-control"
                                   placeholder="请输入年级" id="update_grade" required>
                        </div>
                        <div class="form-group">
                            <label>邮箱</label>
                            <input name="email" type="email" class="form-control"
                                   placeholder="请输入邮箱" id="update_email">
                        </div>
                        <div class="form-group">
                            <label>手机</label>
                            <input name="phone" type="tel" class="form-control" placeholder="请输入手机号码" id="update_phone">
                        </div>
                        <div class="form-group">
                            <label>生源地</label>
                            <input name="origin" type="text" class="form-control"
                                   placeholder="请输入生源地" id="update_origin">
                        </div>
                        <div class="form-group">
                            <label>权限</label>
                            <select class="form-control" name="authority" id="update_authority">
                                <option value="0">超级管理员</option>
                                <option value="1">普通用户</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label>学院</label>
                            <select id="update_college_select" class="form-control" name="college" onchange="loadMajors($(this),$('#update_major_select'))" required>
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                            <label>专业</label>
                            <select id="update_major_select" class="form-control" name="major" required>
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>激活用户</label>
                            <input type="checkbox" value=0 name="status" id="update_status">
                        </div>
                        <div class="form-group" id="update_gender">
                            <label>性别</label>
                            <input type="radio" name="gender" value=true>男
                            <input type="radio" name="gender" value=false>女
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="resetPassword()" class="btn btn-primary">重置密码</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="detailForm">
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="detailModalLabel" style="text-align: center">用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display: none">
                            <label>ID</label>
                            <input id="detail_id" name="id" type="text" readonly class="form-control">
                        </div>
                        <div class="form-group">
                            <label>学号</label>
                            <input name="no" value="" type="text"
                                   class="form-control" id="detail_no" readonly>
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input name="name" value="" type="text" class="form-control" id="detail_name" readonly>
                        </div>
                        <div class="form-group">
                            <label>年级</label>
                            <input name="grade" value="" type="text" class="form-control" id="detail_grade" readonly>
                        </div>
                        <div class="form-group">
                            <label>邮箱</label>
                            <input name="email" type="email" class="form-control" id="detail_email" readonly>
                        </div>
                        <div class="form-group">
                            <label>手机</label>
                            <input name="phone" type="tel" class="form-control" readonly  id="detail_phone">
                        </div>
                        <div class="form-group">
                            <label>生源地</label>
                            <input name="origin" type="text" class="form-control" id="detail_origin" readonly>
                        </div>
                        <div class="form-group">
                            <label>权限</label>
                            <select class="form-control" name="authority" id="detail_authority" disabled>
                                <option value="0">超级管理员</option>
                                <option value="1">普通用户</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label>学院</label>
                            <select id="detail_college_select" class="form-control" disabled name="college" onchange="loadMajors($(this),$('#detail_major_select'))">
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                            <label>专业</label>
                            <select id="detail_major_select" class="form-control" disabled name="major">
                                <option value="">——— 请 选 择 ———</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>激活用户</label>
                            <input type="checkbox" value=0 name="status" id="detail_status" disabled>
                        </div>
                        <div class="form-group" id="detail_gender">
                            <label>性别</label>
                            <input type="radio" name="gender" value=true disabled>男
                            <input type="radio" name="gender" value=false disabled>女
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    var hasLoadColleges = false;

    function page(obj) {
        $("#start").val($(obj).text());
        $("#query_form").submit();
    }

    function prePage() {
        var goTo = parseInt($("#start").val()) - 1;
        if (goTo > 0) {
            $("#start").val(goTo);
            $("#query_form").submit();
        }
    }

    function nextPage() {
        var goTo = parseInt($("#start").val()) + 1;
        if (goTo <= parseInt($("#totalPage").val())) {
            $("#start").val(goTo);
            $("#query_form").submit();
        }
    }

    function goToPage() {
        var page = $("#goto").val();
        if (page <= 0) {
            alert("请输入正确页数");
            return;
        }
        if (page > parseInt($("#totalPage").val())) {
            alert("超出最大页数");
            return;
        }
        $("#start").val(page);
        $("#query_form").submit();
    }

    function inputIntOnly() {
        if (event.keyCode === 13) {
            goToPage();
            return;
        }
        if (event.keyCode < 48) {
            return event.keyCode === 8;
        }
        return event.keyCode <= 57;
    }

    function deleteByIds() {
        var objs = $("input[name='id']:checked");
        var values = [];
        if ($(objs).length <= 0) {
            alert("请选择");
            return;
        }
        $(objs).each(function (index, obj) {
            values.push($(obj).val());
        });
        if (!confirm("是否确定删除？")) {
            return;
        }
        $.ajax({
            url: "/user/delete",
            type: "post",
            traditional: true,
            data: {
                ids: values
            },
            success: function () {
                location.reload();
            },
            error: function () {
                alert("删除失败");
            }
        });
    }

    function showDetail(idObj,collegeObj,majorObj,method) {
        loadColleges();
        method = "#"+method+"_";
        var val = $(idObj).children();
        $.ajax({
            url: "/user/" + $(val[0]).val(),
            success: function (data) {
                $(method+"id").val(data.id);
                $(method+"no").val(data.no);
                $(method+"name").val(data.name);
                $(method+"email").val(data.email);
                $(method+"phone").val(data.phone);
                $(method+"origin").val(data.origin);
                $(method+"grade").val(data.grade);
                collegeObj.val(data.college);
                loadMajors(collegeObj,majorObj);
                majorObj.val(data.major);
                $(method+"authority").val(data.authority);
                if (data.gender) {
                    $(method+"gender input[name='gender'][value=true]").prop("checked", true);
                } else {
                    $(method+"gender input[name='gender'][value=false]").prop("checked", true);
                }

                if (data.status === 0) {
                    $(method+"status").prop("checked", true);
                } else {
                    $(method+"status").prop("checked", false);
                }

            },
            error: function (error) {
                alert("发生异常");
                console.log(error);
            }
        });
    }

    function resetPassword() {
        $.ajax({
            url: "/user/resetPassword",
            data: {
                id: $("#update_id").val()
            },
            success: function () {
                alert("重置成功")
            },
            error: function (error) {
                alert("重置失败");
                console.log(error);
            }
        });
    }

    // 加载学院
    function loadColleges() {
        if(hasLoadColleges)return;
        var addSelectObj = $("#add_college_select");
        var updateSelectObj = $("#update_college_select");
        var detailSelectObj = $("#detail_college_select");
        var addOptionCount = addSelectObj.children().length;
        var updateOptionCount = updateSelectObj.children().length;
        var detailOptionCount = detailSelectObj.children().length;
        if (addOptionCount <= 1 || updateOptionCount <= 1 || detailOptionCount <= 1) {
            $.ajax({
                url: "/college/queryAll",
                success: function (data) {
                    data.forEach(function (obj, index) {
                        addSelectObj.append("<option value=" + obj.id + ">" + obj.name + "</option>");
                        updateSelectObj.append("<option value=" + obj.id + ">" + obj.name + "</option>");
                        detailSelectObj.append("<option value=" + obj.id + ">" + obj.name + "</option>");
                        hasLoadColleges=true;
                    });
                },
                error: function (error) {
                    alert("后台服务发生错误，请联系管理员");
                    console.log(error);
                }
            });
        }
    }
    
    // 加载专业
    function loadMajors(collegeObj,majorObj) {
        majorObj.empty();
        majorObj.append("<option value=''>——— 请 选 择 ———</option>");
        var collegeId = collegeObj.val();
        var majorCount = majorObj.children().length;
        if (majorCount <= 1 && collegeId !== "") {
            $.ajax({
                url: "/major/queryByCollegeId/" + collegeId,
                async : false,
                success: function (data) {
                    data.forEach(function (obj, index) {
                        majorObj.append("<option value=" + obj.id + ">" + obj.name + "</option>")
                    });
                },
                error: function (error) {
                    alert("后台服务发生错误，请联系管理员");
                    console.log(error);
                }
            });
        }
    }
</script>
</body>
</html>
